.brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}